*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;    
}
.logo{
display: flex;
align-items: center;
}
.menu{
    display: flex;
    align-items: center;
}
nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a, nav a:hover{
    background-color: #39aae1;
    color: #fff;
}
#banner{
    display: flex;
    justify-content: center;
    background-image: url('img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}
.column{
    flex-direction: column;
}
.banner_headline{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    flex: 1;
}
.banner_headline h1{
    font-size: 70px;
    color: #fff;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banner_headline h2{
    font-size: 21px;
    color: #fff;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}
.banner_options{
    display: flex;
    height: 210px;
}
.banner1, .banner2, .banner3{
    flex: 1;
    color: #fff;
    padding: 20px;
}
.banner1{
    background-color: #39aae1;
}
.banner2{
    background-color: #0079c7;
}
.banner3{
    background-color: #2b4c99;
}
.banner_title{
    font-size: 21px;
}
.banner_desc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a{
    border: solid 1px #ffffff;
    display: inline-block;
    padding: 5px;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}
.banner_dia{
    font-size: 12px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_dia_right{
    float: right;
    font-size: 12px;
}
#geral{
    display: flex;
    justify-content: center; 
}
#geral .container section{
    flex: 2;
}
#geral .container aside{
    flex: 1;
}
.widget_titulo{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_titulo_text{
    color: #000;
    font-size: 21px;
    font-weight: bold;
}
.widget_titulo_bar{
    width: 50px;
    height: 2px;
    background-color: #39aae1;
    margin-top: 10px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article a{
    text-decoration: none;
}
article .news_data{
    display: flex;
}
article .news_posted_at{
    background-color: #2b4c99;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .news_comments{
    background-color: #39aae1;
    color: #fff;
    font-size: 12px;
    padding: 10px;
}
article .news_thumbnail{
    margin-top: 30px;
}
article .news_thumbnail img{
    width: 100%;
    height: auto;
}
article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000;
    font-size: 23px;
}
article .news_resume{
    color: #5c5c5c;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 30px;
}
.square{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.widget_body_resume{
    display: inline-block;
    flex-direction: column-reverse;
    width: 140px;
    background-color: #39aae1;
    height: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 10px;
}
.make_title {
    font-size:12px;
    line-height:18px;
    color:#5c5c5c;
    margin-bottom:30px;
}

.make_info {
    display:flex;
    justify-content: left;
    margin-bottom:15px;
    border-bottom: 1px solid #BBB;
    padding-bottom:12px;
    font-size:12px;
}

.first_make_info {
    padding-top:12px;
    border-top: 1px solid #BBB;
}

.make_info a {
    text-decoration: none;
    border-bottom: 1px dotted #2b4c99;
    color:#2b4c99;
}

.make_info .icon {
    height: 40px;
    width: 40px;
    background-color: #727272;
    padding-right:8px;
    margin-right: 10px;
}

.make_info .icon_text {
    line-height:23px;
}
footer{
    background-color: #1e1e1e;
    display: flex;
   justify-content: center;
}
.banner_options_rodape{
    display: flex;
    height: 100px;
    flex: 1;
}
.flexColumn{
    flex-direction: column;
}
.footer_area{
  display: flex;
    background-color: #1e1e1e;
}
.footer_areaitem{
    display: flex;
    flex: 1;
}
.widget_titulo_footer{
    
    flex: 1;
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_titulo_text_footer{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.widget_titulo_bar_footer{
    width: 50px;
    height: 2px;
    background-color: #39aae1;
    margin-top: 10px;
}
.widget_body_footer{
    color: #fff;
    display: flex;
    flex: 1;
   
}
.footer_copy{
    display: flex;
    border-top: #2c2c2c 1px solid;
    color: #5c5c5c;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    margin-top: 30px;
}
.banner_options_rodape a{
    text-decoration: none;
    display: block;
    color: #fff;
}
.medicenter_text {
    margin-top: 10px;
    color:#5c5c5c;
    font-size:12px;
    margin-right:10px;
}

.medicenter_contact_title {
    margin-top:25px;
    font-size:12px;
    color:#5c5c5c;
}

.medicenter_cols {
    display:flex;
    flex:1;
    justify-content: space-between;
    color:#5c5c5c;
    font-size:12px;
    margin-right:15px;
}

.medicenter_icons {
    display: flex;
    margin-top:20px;
}

.medicenter_icons_space {
    margin-right:5px;
}

.lasted_post {
    display: flex;
    margin-top:15px;
}
.last{
    color: #5c5c5c;
    margin-top: 15px;
}
.flecha_title {
    margin-top: 15px;
    padding-right:10px;
}

.lasted_title {
    display:flex;
    flex: 1;
    font-size:12px;
    color:#FFFFFF;
    margin-right:20px;
}

.lasted_post_date {
    display: flex;
    color:#39aae1;
    font-size:12px;
    margin-top:5px;
    
}

.lasted_tweet {
    display: flex;
    margin-top:15px;
}

.tweet_title {
    display:flex;
    flex: 1;
    font-size:12px;
    color:#5c5c5c;
    margin-right:20px;
}
.flecha_title1{
    margin-top: 3px;
    padding-right: 10px;
}
.lasted_tweet_date {
    display: flex;
    color:#39aae1;
    font-size:12px;
    margin-top:5px;
}
.MenuMobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm{
    height: 3px;
    background-color: #0079c7;
}
@media (max-width: 600px){

#banner{
    height: auto;
}
.banner_headline{
    padding:10px;
}
.banner_headline h1{
    font-size: 55px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.banner_headline h2{
    font-size: 17px;
    margin-bottom: 80px;
    color: #BBB;
}
.banner_options{
    flex-direction: column;
    height: auto;
}
.container{
    flex-direction: column;
}
#geral .container section, 
#geral .container aside{
    padding: 20px;
}
.banner_options_rodape{
    flex-direction: column;
    height: auto;
}
.footer_area{
    flex-direction: column;
    padding: 20px;
}
.footer_copy{
    padding-left: 20px;
}
header .container{
    flex-direction: row;
}
nav ul{
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
}
header{
    height: auto;
}
.logo{
    padding-left: 20px;
}
.MenuMobile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
}